page {
  --primary-color: #fe7a24;
  --secondary-color: #ffb686;
  --third-color: #ff9b5b;
  --contrast-color: #5789d3;

  --text-light-color: #666;

  --bg-color: #fefefe;
  --bg-color-page: #f8f7e6;
  --bg-second-color: #f8f2de;
  --bg-third-color: #f1ede2;

  --placeholder-color: #aaa;

  --fontSize-mini: 24rpx;
  --fontSize-small: 28rpx;
  --fontSize-normal: 32rpx;
  --fontSize-big: 36rpx;
  --fontSize-large: 40rpx;

  --shadow: 2rpx 4rpx 10rpx #ccc;
  --shadow-modal: 10rpx 10rpx 20rpx rgba(33, 33, 33, 0.5);
}

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

@mixin overflow-hidden {
  overflow: hidden;
}

.overflow-hidden {
  @include overflow-hidden;
}

.text-ellipsis {
  display: inline-block;
  @include overflow-hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// 解决 flex 子元素收缩问题（全局复用）
.min-w-0 {
  min-width: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-justify__center {
  justify-content: center;
}

.flex-justify__between {
  justify-content: space-between;
}

.flex-justify__around {
  justify-content: space-around;
}

.flex-justify__start {
  justify-content: flex-start;
}

.flex-justify__end {
  justify-content: flex-end;
}

.flex-align__start {
  align-items: flex-start;
}

.flex-align__stretch {
  align-items: stretch;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

.tab-page {
  @include full-screen;
  background-color: var(--bg-color-page);
  padding-bottom: 145rpx;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
  @include overflow-hidden;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  box-shadow: var(--shadow-modal);
}
